
[submodule "garrysmod_common"]
	path = garrysmod_common
	url = https://github.com/danielga/garrysmod_common
	branch = x86-64-support-sourcesdk
[submodule "public/toggle-cursor-remix"]
	path = public/toggle-cursor-remix
	url = https://github.com/sambow23/toggle-cursor-remix.git
[submodule "garrysmod/garrysmod/addons/niknaks"]
	path = garrysmod/garrysmod/addons/niknaks
	url = https://github.com/sambow23/NikNaks-remix.git
